<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type"
    content="text/html"; charset="UTF-8">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
<div role="main">
    <p><%= content %></p>
    <form method="post" action="/data/add">
    <table>
        <tr>
            <th>氏名</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><input type="text" name="mail"></td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td><input type="text" name="BirthDay"></td>
        </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="作成"></td>
            </tr>
    </table>
    </form>
</div>
</body>
            </html>